<!-- <p>practice works!</p>
<h2 [ngClass]="'mycolor'">Hello World</h2>
<button (click)="getname('poojan','thakkar')">Click</button>
<br />
<input type="text"#box (keyup)="getdata(box.value)" placeholder="event keyup">
<br />
<input type="text"#box1 (keydown)="getdata(box1.value)" placeholder="event keydown">

<br /> -->
<!-- <br/>
<input type="text"#box2 (keyblur)="getdata(box2.value)" placeholder="event blur"> -->
<!-- <h1 (mouseover)="getdata('over')">HELLO </h1>
<h1 (mouseleave)="getdata('leave')">HELLO </h1>
<h1 [style.color]='color'>{{title}}</h1>
<button (click)="updatecolor()">update</button> -->
<!-- <input type="text" #abc   placeholder="Enter Name" name="name">
<button (click)="getvalue(abc.value)">click me</button>
    <p>printed value is {{displayval}}</p>  -->
<!-- <button (click)="counter('minus')">--</button>
<p>count : {{count}}</p>
<button (click)="counter('add')">++</button> -->
<!-- <h1 *ngIf="show else elseblock">Angular </h1> -->
<!-- name: <input type="text" placeholder="enter name"> -->
<!-- <ng-template #elseblock>
<p>else</p>
</ng-template> -->
<!-- <ng-template [ngIf] = "color==='red'">
<h1 style = "color:red">Red Color </h1>
</ng-template>
<ng-template [ngIf] = "color==='red'">x
    <h1 style = "color:green">Green Color </h1>
    </ng-template> -->
    <!-- <div [ngSwitch]="color"></div>
    <h1 *ngSwitchCase = "'red'" style="color: red;">Red Color</h1>
    <h1 *ngSwitchCase="'green'" style="color: green;">green Color</h1>
    <h1 *ngSwitchCase="'blue'" style="color:aquamarine;">blue Color</h1> -->

    <!-- <h1 *ngFor="let item of users">{{item}}</h1> -->
    <!-- <h1 *ngFor="let item of userDeatails">{{item.name}}</h1> -->
    <!-- <table class="table table-striped">
        <thead>
          <tr>
        
            <th scope="col">name</th>
            <th scope="col">email</th>
            <th scope="col">phone</th>
          </tr>
        </thead>
        <tr *ngFor="let i of userDeatails">
            
            <td>{{i.name}}</td>
            <td>{{i.email}}</td>
            <td>{{i.phone}}</td>
            
    
    
        </tr>
        </table>
     -->
     <!-- <div class="container my-4">
     <form>
      <div class="mb-1">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
     -->
     <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
<!-- 
     <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div> -->
    <!-- <input type="text" placeholder="Enter new task" #task>
    <br /> <br />

    <button (click)="addTask(task.value)">Add Task</button>
    <ul *ngFor="let i of list">
      <li>
        {{i.name}} <button (click)="remove(i.id)">Remove</button>
      </li>

    </ul> -->

    <!-- <app-practice1 [item] = "data"></app-practice1>
    <button (click)="updatechild()">click</button> -->
    
    <!-- <ul *ngFor="let u of user"> -->
     

        <!-- <h1>{{a | uppercase}}</h1>
        <h1>{{a | lowercase}}</h1>
        <h1>{{a}}</h1>
         -->
    <!-- <app-practice1 [u] = 'user'></app-practice1> -->

    <!-- </ul> -->

    <!-- <input type="text" #box>
    <button (click)="getVal(box.value)">click me</button> -->
    <!-- <h3>{{name}}</h3> -->
